.main-content{
  background-image: url('../images/PrivateerWhiteLogo.png');
  height: 90vh; 
  width: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}