<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- <security> -->
            <!-- <access sslFlags="Ssl" /> -->
        <!-- </security> -->
        <rewrite>
            <rules>
                <rule name="https redirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="install.htm" />
                <add value="index.htm" />
                <add value="index.asp" />
                <add value="index.aspx" />
                <add value="index.php" />
                <add value="default.html" />
                <add value="default.htm" />
                <add value="default.asp" />
                <add value="default.aspx" />
                <add value="default.php" />
                <add value="winhostdefault.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
    <system.web>
        <identity impersonate="false" />
        <authentication mode="Windows" />
        <sessionState cookieless="AutoDetect" />
    </system.web>
</configuration>
